<dft-lightbox *ngIf="isLightboxVisible$ | async">
  <dft-create-space
    lightbox-body
    class="dft-side-pannel-create-space-modal"
    (close)="hideCreateSpaceLightbox()"
    (create)="refreshSpaces()"
  ></dft-create-space>
</dft-lightbox>

<button class="dft-side-pannel-open-close" (click)="togglePannel()">
  {{ pannelSign }}
</button>

<div
  class="dft-side-pannel"
  [class.mod-opened]="pannelIsOpened"
  [class.mod-closed]="!pannelIsOpened"
>
  <div class="dft-side-pannel-search-pannel">
    <input type="text" placeholder="Search..." />
    <img
      class="dft-side-pannel-search-pannel-icon"
      src="assets/icons/search.png"
      alt="search"
    />
  </div>

  <div class="dft-side-pannel-spaces" [class.mod-closed]="!spacesAreOpened">
    <div class="dft-side-pannel-spaces-header" (click)="toggleSpaces()">
      <div>{{ "app.spaces" | translate }}</div>
      <div
        [class.mod-opened]="spacesAreOpened"
        [class.mod-closed]="!spacesAreOpened"
      >
        {{ spaceSign }}
      </div>
    </div>
    <div
      class="dft-side-pannel-spaces-main"
      [class.mod-hidden]="!spacesAreOpened"
    >
      <div *ngFor="let space of spaces$ | async">{{ space.name }}</div>
      <button
        class="dft-side-pannel-create-space"
        (click)="showCreateSpaceLightbox()"
      >
        + {{ "app.newSpace" | translate }}
      </button>
    </div>
  </div>
</div>
