<mat-drawer-container class="dft-side-pannel">
  <mat-drawer #drawer class="dft-side-pannel-content" mode="side">
    <p>{{ "app.spaces" | translate }}</p>
    <dft-spaces-accordion
      [spaces]="spaces$ | async"
      [lists]="lists$ | async"
      (spaceRename)="refreshData()"
      (spaceRemove)="refreshData()"
      (listCreate)="refreshData()"
      (noteCreate)="refreshData()"
    ></dft-spaces-accordion>
    <div class="dft-side-pannel-create-space">
      <button
        mat-raised-button
        color="primary"
        (click)="showCreateSpaceLightbox()"
      >
        {{ "app.createSpace" | translate }}
      </button>
    </div>
  </mat-drawer>

  <div>
    <button
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a menu icon"
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <ng-content select="[side-content]"></ng-content>
  </div>
</mat-drawer-container>

<dft-lightbox *ngIf="isLightboxVisible$ | async">
  <dft-create-space-modal
    lightbox-body
    (close)="hideCreateSpaceLightbox()"
    (create)="refreshData()"
  ></dft-create-space-modal>
</dft-lightbox>
