.dft-space-accordion-title {
  width: 20%;
  overflow: hidden;
}

.dft-space-accordion-controls {
  display: flex;
  justify-content: right;
}

.spaces-accordion-item-menu {
  display: flex;
  flex-direction: column;
}

.dft-spaces-accordion-item-menu {
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;
  overflow: hidden;
}
