<mat-accordion>
  <mat-expansion-panel *ngFor="let space of spaces" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="dft-space-accordion-title">
        {{ space.title }}
      </mat-panel-title>
      <mat-panel-description class="dft-space-accordion-controls">
        <button
          mat-button
          [cdkMenuTriggerFor]="addItemMenu"
          (click)="stopPropagation($event)"
        >
          <mat-icon>add</mat-icon>
        </button>
        <ng-template #addItemMenu>
          <div
            class="dft-spaces-accordion-item-menu"
            cdkMenu
            (click)="stopPropagation($event)"
          >
            <button
              mat-raised-button
              color="primary"
              cdkMenuItem
              (click)="showCreateListModal(space)"
            >
              {{ "app.list" | translate }}
            </button>
            <button mat-raised-button color="primary" cdkMenuItem>
              {{ "app.note" | translate }}
            </button>
          </div>
        </ng-template>

        <button
          mat-button
          [cdkMenuTriggerFor]="editMenu"
          (click)="stopPropagation($event)"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <ng-template #editMenu>
          <div
            class="dft-spaces-accordion-item-menu"
            cdkMenu
            (click)="stopPropagation($event)"
          >
            <button
              mat-raised-button
              color="primary"
              cdkMenuItem
              (click)="showRenameSpaceModal(space)"
            >
              {{ "app.rename" | translate }}
            </button>
            <button
              mat-raised-button
              color="primary"
              cdkMenuItem
              (click)="removeSpace(space)"
            >
              {{ "app.remove" | translate }}
            </button>
          </div>
        </ng-template>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
</mat-accordion>

<dft-lightbox *ngIf="isLightboxVisible$ | async">
  <dft-rename-space-modal
    *ngIf="renameSpace$ | async"
    [space]="selectedSpace$ | async"
    lightbox-body
    (close)="hideModal()"
    (rename)="emitSpaceRename()"
  ></dft-rename-space-modal>

  <dft-create-list-modal
    *ngIf="createList$ | async"
    lightbox-body
    [spaceId]="(selectedSpace$ | async).id"
    (close)="hideModal()"
    (create)="emitListCreate()"
  ></dft-create-list-modal>
</dft-lightbox>
