.dft-notes-edit-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}

.dft-notes-edit-modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.dft-notes-edit-modal-content {
  width: 30%;
  margin: 5% auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dft-notes-edit-modal-content__item {
  flex-grow: 1;
}
