<div class="dft-rename-space-modal">
  <button
    mat-icon-button
    class="dft-rename-space-modal-close"
    color="accent"
    (click)="closeModal()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-card class="dft-rename-space-modal-content">
    <mat-card-title class="dft-rename-space-modal-content__item">
      {{ "app.createSpace" | translate }}
    </mat-card-title>
    <mat-card-content class="dft-rename-space-modal-content__item"
      ><dft-input
        [type]="'text'"
        [placeholder]="'app.provideSpaceName' | translate"
        [label]="'app.provideSpaceName' | translate"
        [control]="formGroup.controls['title']"
        [errors]="requiredFieldError"
      ></dft-input>
    </mat-card-content>
    <mat-card-actions class="dft-rename-space-modal-content__item">
      <button
        mat-raised-button
        color="primary"
        [disabled]="formGroup.controls['title'].invalid"
        (click)="renameSpace()"
      >
        {{ "app.save" | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
