.dft-lightbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dft-lightbox-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 6.4rem;
  padding-right: 1rem;
}

.dft-lightbox-body {
  height: 100%;
  overflow: hidden;
}
