<header class="dft-list-page-header">
  {{ "app.list" | translate }} <i>{{ (list$ | async)?.title }}</i>
</header>

<main>
  <div class="dft-list-page-tasks">
    <ng-container *ngFor="let task of tasks$ | async">
      <dft-task
        class="dft-list-page-task"
        [task]="task"
        (edit)="goToEditPage($event)"
        (remove)="removeTask($event)"
        (toggle)="toggleTaskState($event)"
      ></dft-task>
      <mat-divider class="dft-list-page-tasks-divider"></mat-divider>
    </ng-container>
  </div>

  <section class="dft-list-page-controls">
    <button mat-raised-button color="primary" (click)="showCreateTaskModal()">
      {{ "app.task.create" | translate }}
    </button>
  </section>
</main>

<dft-lightbox *ngIf="isLightBoxVisible$ | async">
  <dft-create-task-modal
    lightbox-body
    [list]="list$ | async"
    (close)="closeModal()"
    (create)="updateValues()"
  ></dft-create-task-modal>
</dft-lightbox>
