<h1>{{ "app.logIn" | translate }}</h1>
<input
  type="text"
  placeholder="{{ 'app.email' | translate }}"
  [formControl]="logInForm.controls['email']"
/>
<input
  type="text"
  placeholder="{{ 'app.password' | translate }}"
  [formControl]="logInForm.controls['password']"
/>

<button mat-raised-button color="primary" (click)="logIn()">
  {{ "app.logIn" | translate }}
</button>

<h1>{{ "app.signUp" | translate }}</h1>
<input
  type="text"
  placeholder="{{ 'app.email' | translate }}"
  [formControl]="signUpForm.controls['email']"
/>
<input
  type="text"
  placeholder="{{ 'app.password' | translate }}"
  [formControl]="signUpForm.controls['password']"
/>
<input
  type="text"
  placeholder="{{ 'app.userName' | translate }}"
  [formControl]="signUpForm.controls['name']"
/>

<button mat-raised-button color="primary" (click)="signUp()">
  {{ "app.signUp" | translate }}
</button>
