:host {
  display: flex;
  width: 50%;
  margin: 5% auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 2.5rem;
}

.empty-page-title {
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
}

.empty-page-create-space {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
