<div class="dft-create-task-modal">
  <mat-card class="dft-create-task-modal-content">
    <mat-card-title>
      {{ "app.task.edit" | translate }}
    </mat-card-title>

    <div class="create-task-modal-inputs">
      <section class="create-task-moda-inputs-section">
        <mat-card-content style="padding-top: 2.5rem"
          ><dft-input
            [type]="'text'"
            [placeholder]="'app.task.provideName' | translate"
            [label]="'app.task.provideName' | translate"
            [control]="formGroup.controls['title']"
            [errors]="requiredFieldError"
          ></dft-input>
        </mat-card-content>
        <mat-form-field [style.fontSize]="'20px'">
          <mat-label>{{ "app.task.provideDescription" | translate }}</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            [formControl]="formGroup.controls['description']"
          ></textarea>
        </mat-form-field>
        <mat-card-content>
          <mat-checkbox [formControl]="formGroup.controls['completed']">{{
            "app.task.completed" | translate
          }}</mat-checkbox>
        </mat-card-content>
      </section>
      <section class="create-task-moda-inputs-section">
        <mat-form-field>
          <mat-label>{{ "app.task.chooseStartDate" | translate }}</mat-label>
          <input
            matInput
            [formControl]="formGroup.controls['startTime']"
            [matDatepicker]="startTimepicker"
            [readonly]="true"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="startTimepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startTimepicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "app.task.chooseEndDate" | translate }}</mat-label>
          <input
            matInput
            [formControl]="formGroup.controls['endTime']"
            [matDatepicker]="endTimePicker"
            [readonly]="true"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="endTimePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #endTimePicker></mat-datepicker>
        </mat-form-field>
      </section>
    </div>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        [disabled]="formGroup.controls['title'].invalid"
        (click)="editTask()"
      >
        {{ "app.save" | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
